--USE [DWZAGI]
--GO
/****** Object:  Table [dbo].[Calendario]    Script Date: 10/12/2022 4:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendario](
	[ChaveCalendario] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[DataCompleta] [date] NOT NULL,
	[DiaSemana] [varchar](20) NOT NULL,
	[DiaMes] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Trimestre] [int] NOT NULL,
	[Ano] [int] NOT NULL,
 CONSTRAINT [Calendario_pk] PRIMARY KEY CLUSTERED 
(
	[ChaveCalendario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 10/12/2022 4:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ChaveCliente] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[IDCliente] [int] NOT NULL,
	[NomeCliente] [varchar](255) NOT NULL,
	[CEPCliente] [varchar](9) NOT NULL,
	[GeneroCliente] [char](1) NULL,
	[EstadoMaritalCliente] [varchar](20) NULL,
	[NivelEducacionalCliente] [varchar](50) NULL,
	[CreditoPracaCliente] [int] NULL,
 CONSTRAINT [Cliente_pk] PRIMARY KEY CLUSTERED 
(
	[ChaveCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loja]    Script Date: 10/12/2022 4:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loja](
	[ChaveLoja] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[IDLoja] [int] NOT NULL,
	[CEPLoja] [varchar](9) NOT NULL,
	[NomeRegiaoLoja] [varchar](255) NOT NULL,
	[TamanhoLoja] [int] NULL,
	[CheckoutLoja] [varchar](200) NULL,
	[LayoutLoja] [varchar](255) NULL,
 CONSTRAINT [Loja_pk] PRIMARY KEY CLUSTERED 
(
	[ChaveLoja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 10/12/2022 4:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[ChaveProduto] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[IDProduto] [int] NOT NULL,
	[NomeProduto] [varchar](255) NOT NULL,
	[PrecoProduto] [float] NOT NULL,
	[NomeFornecedorProduto] [varchar](255) NOT NULL,
	[NomeCategoriaProduto] [varchar](255) NOT NULL,
 CONSTRAINT [Produto_pk] PRIMARY KEY CLUSTERED 
(
	[ChaveProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Vendas]    Script Date: 10/12/2022 4:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendas](
	[TID] [int] NOT NULL,
	[Hora] [int] NOT NULL,
	[ReaisVendidos] [float] NOT NULL,
	[UnidadesVendidas] [int] NOT NULL,
	[ChaveProduto] [uniqueidentifier] NOT NULL,
	[ChaveCliente] [uniqueidentifier] NOT NULL,
	[ChaveCalendario] [uniqueidentifier] NOT NULL,
	[ChaveLoja] [uniqueidentifier] NOT NULL,
 CONSTRAINT [Vendas_pk] PRIMARY KEY CLUSTERED 
(
	[TID] ASC,
	[ChaveProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Vendas]  WITH CHECK ADD  CONSTRAINT [FK_0] FOREIGN KEY([ChaveProduto])
REFERENCES [dbo].[Produto] ([ChaveProduto])
GO
ALTER TABLE [dbo].[Vendas] CHECK CONSTRAINT [FK_0]
GO
ALTER TABLE [dbo].[Vendas]  WITH CHECK ADD  CONSTRAINT [FK_1] FOREIGN KEY([ChaveCliente])
REFERENCES [dbo].[Cliente] ([ChaveCliente])
GO
ALTER TABLE [dbo].[Vendas] CHECK CONSTRAINT [FK_1]
GO
ALTER TABLE [dbo].[Vendas]  WITH CHECK ADD  CONSTRAINT [FK_2] FOREIGN KEY([ChaveCalendario])
REFERENCES [dbo].[Calendario] ([ChaveCalendario])
GO
ALTER TABLE [dbo].[Vendas] CHECK CONSTRAINT [FK_2]
GO
ALTER TABLE [dbo].[Vendas]  WITH CHECK ADD  CONSTRAINT [FK_3] FOREIGN KEY([ChaveLoja])
REFERENCES [dbo].[Loja] ([ChaveLoja])
GO
ALTER TABLE [dbo].[Vendas] CHECK CONSTRAINT [FK_3]
GO
